/* Start Global Rules */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #eee;
    --back-color: #fff;
    --light-red: #dd0436;
    --dark-red: #b8002a;
    --yello: #ffba00;
    --orange: #ff8e00;
    --dark: #383838;
    --darker: #252525;
    --darkest: #131313;
    --transition-default: 0.2s;
    --shadow-color: #00000038;
}

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small  */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
}

button:hover {
    opacity: 0.8;
}

/* End Global Rules */

/* Start Header */
.header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background: var(--main-color);
    box-shadow: -5px 9px 19px -12px #00000073;
    height: 72;
}

.header .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .header .content {
        flex-direction: column;
    }
}

.header .content img {
    width: 6%;
    margin: 5px 0;
}

@media (max-width: 992px) {
    .header .content img {
        width: 8%;
    }
}

@media (max-width: 768px) {
    .header .content img {
        width: 15%;
    }
}

.header .content h3 {
    color: var(--darkest);
}

@media (max-width: 768px) {
    .header .content h3 {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
}

/* End Header */

/* Start Landing */
.landing {
    background-image: url(../img/landing.jpg);
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffffc2;
    width: 100%;
    height: 100vh;
}

.landing button {
    transition: var(--transition-default);
}

.landing button a {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--dark-red);
    color: white;
    width: 18%;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .landing button a {
        width: 35%;
        font-size: 1rem;
    }
}

/* End Landing */