/* Start Global Rules */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #eee;
    --back-color: #fff;
    --light-red: #dd0436;
    --green-red: #04dd71;
    --dark-purple: #006D9F;
    --yello: #ffba00;
    --orange: #ff8e00;
    --dark: #383838;
    --darker: #252525;
    --darkest: #131313;
    --transition-default: 0.2s;
    --shadow-color: #00000038;
}

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small  */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

button:hover {
    opacity: 0.8;
}

/* End Global Rules */

/* Start Header */
.header {
    /* position: absolute;
    left: 0;
    width: 100%;
    z-index: 2; */
    margin-bottom: 2rem;
}

.header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .header .content {
        flex-direction: column;
    }
}

.header .content img {
    width: 9%;
    margin: 5px 0;
}

@media (max-width: 992px) {
    .header .content img {
        width: 8%;
    }
}

@media (max-width: 768px) {
    .header .content img {
        width: 15%;
    }
}

.header .content h3 {
    padding-bottom: 1rem;
    color: black;
}

@media (max-width: 768px) {
    .header .content h3 {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
}

/* End Header */

/* Start Landing */
.landing {
    position: relative;
    height: calc(100vh - 110px);
    display: flex;
    align-items: center;
}

@media (max-width : 992px) {
    .landing {
        height: calc(100vh - 100px)
    }
}

@media (max-width : 768px) {
    .landing {
        height: calc(100vh - 120px)
    }
}

.landing .overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .landing .overlay {
        flex-direction: column;
        margin-top: 2rem;
    }
}

@media (max-width: 992px) {
    .landing .overlay p {
        margin-bottom: 2rem;
        width: 600px;
    }
}

.landing .overlay img {
    width: 50%;
}

@media (max-width: 768px) {
    .landing .overlay img {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .landing .overlay img {
        display: none;
    }
}

.landing .btn {
    padding-bottom: 5rem;
}

.landing .btn h2 {
    color: var(--dark-purple);
}

.landing .btn p {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .landing .btn p {
        text-align: center;
        /* margin: auto; */
        padding-top: 3rem;
        width: auto;
    }
}

.landing .btn button {
    transition: all 1s ease 0s;

}

.landing .btn button:hover {
    transform: scale(1.1);
}

.landing .btn button a {
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--dark-purple);
    color: white;
    width: 16%;
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .landing button a {
        width: 35%;
        font-size: 1rem;
    }
}


.landing .waves {
    position: absolute;
    bottom: 0px;
    left: 0;
    color: var(--dark-red);
}

/* End Landing */

.wave-bg {
    overflow: hidden;
    height: 694px;
    position: relative;
}

.wave-bg::before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(0, 52, 89) 0%, rgb(0, 168, 232) 90%);
    border-radius: 0 0 88% 17%;
    transform: translate(-35%, -28%);
}

@media (max-width: 768px) {
    .wave-bg::before {
        background: none;
    }
}

.shape {
    position: fixed;
    bottom: -128px;
    right: -103px;
    width: 300px;
    height: 300px;
    background-color: var(--dark-purple);
    border-radius: 49%;
    z-index: -1;
}
